block var
doctype html
html(lang="ja")
  head
    include ./includes/_meta.pug
    title #{title}
    block meta
      meta(name="description", content=description)
      meta(name="keywords", content=keywords)
      include ./includes/_css.pug
    block css
  body#top(class=bodyclass)
    include ./includes/_header.pug
    block outsidebodybefore
    #wrap(class=wrapclass)
      block body
    block outsidebody
    include ./includes/_footer.pug
    include ./includes/_plugins.pug
    block end_of_body
